.main_background {
    background: #e3e0e0;
    height: 1400px;
    display: flex;
    flex-wrap: wrap;

}
.purple {
    background: #8267ff;
}

.darkblue {
        background: #0f025e;
    }
.width500 {
    width: 500px;
}
.width100 {
    width: 100px;
}
.height100 {
    height: 100px;
}
.radius {

    border-radius: 5px;
}
.top_left {

    height: 20px;
    width: 50px;

}
.line1, .line2, .line3 {
    width: 20px;
    height: 2px;
    display: flex;
    margin-right: 20px;
    margin-bottom: 5px;

}

.top {
    background:#e3e0e0;
    height: 35px;
    width: 500px;
    padding-top: 15px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header {
    height: 300px;
    margin-top: 0;
    color: #8267ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
button {
    background: #8267ff;
    border-radius: 5px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;

}
p {
    margin: auto;

}
.text {
    text-align: center;
    margin-top: 0;
}
.top_block_1, .top_block_2, .top_block_3 {
    margin-left: 15px;
    margin-top: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 20px;
}
.blocks_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 180px;

}
.top_block_4, .top_block_5, .top_block_6, .top_block_7 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 70px;
    display: flex;
    justify-content:center;
    align-items: center;

}
.blocks2 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;


}
.blocks3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.top_block_8, .top_block_9, .top_block_10, .top_block_11 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.long_blocks h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 180px;

}

.long_block1, .long_block2 {

    width: 200px;
    height: 120px;

}
.text1, .text2 {

    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.long_blocks1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-left: 30px;

}

.long_block3, .long_block4 {

    width: 200px;
    height: 120px;

}
.text3, .text4 {

    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.long_blocks2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.bottom_blocks h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

.bottom_blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;

}
.bottom_block1, .bottom_block2, .bottom_block3 {

    width: 150px;
}
.circle {

    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;

}
.bottom_text {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.bottom_text h3 {
   margin-bottom: 0;
}
.sq1, .sq2, .sq3 {
    height: 30px;
    width: 30px;
    column-gap: 10px;
    background: #8267ff;
    border-radius: 5px;

}
.footer_blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    column-gap: 20px;
    margin-top: 20px;
}
.footer_lines{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;

}

.line4, .line5, .line6, .line7 {
    width: 25px;
    height: 4px;
    border-radius: 5px;

}